doctype html
html(lang='ru')
  include templates/_head
  body
    include templates/_mainContent
    include templates/_footer
    include templates/_mobileMenu
    #modalPortfolioScreen
    include templates/_requestModal
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/jquery-ui/jquery-ui.min.js')
    script(src='bower_components/owl.carousel/dist/owl.carousel.min.js')
    script(src='bower_components/jquery-mask-plugin/dist/jquery.mask.min.js')
    script(src='js/MenuItem.es6.js')
    script(src='js/MainMenu.es6.js')
    script(src='js/SubMenu.es6.js')
    script(src='js/BubblyButton.es6.js')
    script(src='js/LengthChecker.es6.js')
    script(src='js/Portfolio.es6.js')
    script(src='js/main.es6.js')