=carousel-control
  position: absolute
  top: 47%
  width: 30px
  height: 30px
  z-index: 5
  cursor: pointer
  transition: background-color 300ms, transform 500ms, opacity 200ms
  border-radius: 15px
  &__next
    right: 5px
    background: url('../img/chevronRight.png') rgba(255, 255, 255, 0.3) center no-repeat
    background-size: 25%
  &__prev
    left: 5px
    background: url('../img/chevronLeft.png') rgba(255, 255, 255, 0.3) center no-repeat
    background-size: 25%
  &:hover
    background-color: rgba(255, 255, 255, 0.5)
  &:active
    transform: scale(1.2)
    background-color: rgba(0, 0, 0, 0)

=carousel-control850
  opacity: 1
  &:hover
    background-color: rgba(255, 255, 255, 0.3)