section.aboutWrap
  .mask
  .content
    h2 BestElectric
      span  электромонтаж на высшем уровне
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus ea modi numquam placeat sapiente tempore. Asperiores aspernatur blanditiis ducimus minima non? Accusamus alias aliquam aperiam assumenda culpa deserunt distinctio et molestiae necessitatibus nisi nobis officiis, placeat qui reiciendis vitae. Ad alias architecto aspernatur doloremque esse et fugit iusto modi numquam officiis, quibusdam repellat similique tenetur. A aliquam aperiam, assumenda consequatur delectus eligendi esse exercitationem incidunt ipsa iste laudantium libero magnam mollitia natus, nesciunt nobis nostrum nulla numquam odio officia omnis quidem quo repellat repellendus veritatis vitae voluptate! Eligendi eos odit officiis optio porro reprehenderit ullam, voluptatem. Cupiditate deserunt reprehenderit voluptatum! Animi asperiores aspernatur consequuntur ducimus eaque eligendi esse est facilis fugit harum hic id iure laboriosam maxime modi necessitatibus non perferendis porro praesentium provident quas quasi, quisquam quod rem repellendus repudiandae suscipit temporibus unde voluptas voluptatum. Aliquid culpa ea ipsam quasi ratione sint ullam unde. A amet aperiam, aspernatur blanditiis consequatur consequuntur corporis cumque dicta dolores doloribus, eligendi est facilis harum in itaque labore laboriosam laudantium minus nulla possimus provident quas quasi qui quod quos, ratione rem repudiandae sapiente sint sit tempora tenetur totam voluptatibus. Delectus dolorum incidunt iusto nemo neque placeat quo vitae voluptatibus. Doloribus inventore laboriosam voluptatem?
    .feedBacks
      .feedBacksNav.feedBacksNav__next#aboutFeedbacksNext
      .feedBacksNav.feedBacksNav__prev#aboutFeedbacksPrev
      .owl-carousel#aboutFeedbacks
        figure
          img(src='../img/feedback1.png')
          figcaption
            h3 Юрий Артёмов
            span 32 года
            p Благодарен ребятам из Бэстэлектрик, проложили электрику у меня в квартире быстро и недорого.
        figure
          img(src='../img/feedback2.png')
          figcaption
            h3 Андрей Чернов
            span 51 год
            p Спасибо! Это было космически! Я в восторге! Просто супер!
        figure
          img(src='../img/feedback1.png')
          figcaption
            h3 Юрий Артёмов
            span 32 года
            p Благодарен ребятам из Бэстэлектрик, проложили электрику у меня в квартире быстро и недорого.
        figure
          img(src='../img/feedback2.png')
          figcaption
            h3 Андрей Чернов
            span 51 год
            p Спасибо! Это было космически! Я в восторге! Просто супер!
        figure
          img(src='../img/feedback1.png')
          figcaption
            h3 Юрий Артёмов
            span 32 года
            p Благодарен ребятам из Бэстэлектрик, проложили электрику у меня в квартире быстро и недорого.
        figure
          img(src='../img/feedback2.png')
          figcaption
            h3 Андрей Чернов
            span 51 год
            p Спасибо! Это было космически! Я в восторге! Просто супер!