section.aboutWrap#about
  .mask
  .content
    h2 Электромонтажные работы в&nbsp;<nobr>Санкт-Петербурге</nobr> и&nbsp;области от&nbsp;GrandElectric
    p Мы&nbsp;предлагаем комплекс услуг по&nbsp;электромонтажу. Все работы производятся профессиональными опытными
      | электриками по&nbsp;<a href="#schema">схеме</a>, отработанной годами. По&nbsp;окончании монтажа все элементы
      | системы проходят многоступенчатую проверку с&nbsp;использованием специализированных приборов контроля.
    h3 Заказывайте электромонтажные работы любым удобным для Вас способом
    ul
      li Воспользуйтесь <span class="requestTrigger">формой обратной связи</span>, оставив свои имя и&nbsp;номер телефона
      li Отправьте заявку на&nbsp;нашу электронную почту <a href="mailto:info@grand-electric.ru">info@grand-electric.ru</a>
      li Позвоните по&nbsp;телефону <a href="tel:+79650513007">+7 (965) 051-30-07</a>, а&nbsp;наши специалисты
         | проконсультируют и&nbsp;составят профессиональный расчет исходя из&nbsp;Ваших пожеланий.
    h3 Выбирайте удобные условия работы:
    p Мы&nbsp;производим монтаж электропроводки по&nbsp;<nobr>Санкт-Петербургу</nobr> и&nbsp;Ленинградской области.
      | После замера, исходя из&nbsp;Ваших пожеланий, наши высококвалифицированные специалисты составят подробный расчет.
      | Также, при желании, мы&nbsp;можем организовать доставку всех необходимых строительных материалов на&nbsp;Ваш объект.
    .feedBacks
      .feedBacksNav.feedBacksNav__prev#aboutFeedbacksPrev
      .feedBacksNav.feedBacksNav__next#aboutFeedbacksNext
      .owl-carousel#aboutFeedbacks
        figure
          img(src='../img/feedback1.png')
          figcaption
            h3 Юрий Артёмов
            span 32 года
            p Благодарен ребятам из Бэстэлектрик, проложили электрику у меня в квартире быстро и недорого.
        figure
          img(src='../img/feedback2.png')
          figcaption
            h3 Андрей Чернов
            span 51 год
            p Спасибо! Это было космически! Я в восторге! Просто супер!
        figure
          img(src='../img/feedback1.png')
          figcaption
            h3 Юрий Артёмов
            span 32 года
            p Благодарен ребятам из Бэстэлектрик, проложили электрику у меня в квартире быстро и недорого.
        figure
          img(src='../img/feedback2.png')
          figcaption
            h3 Андрей Чернов
            span 51 год
            p Спасибо! Это было космически! Я в восторге! Просто супер!
        figure
          img(src='../img/feedback1.png')
          figcaption
            h3 Юрий Артёмов
            span 32 года
            p Благодарен ребятам из Бэстэлектрик, проложили электрику у меня в квартире быстро и недорого.
        figure
          img(src='../img/feedback2.png')
          figcaption
            h3 Андрей Чернов
            span 51 год
            p Спасибо! Это было космически! Я в восторге! Просто супер!