footer.footer#footer
  .content
    .item.contacts
      h3 Контакты
      .refs
        a(href='tel:+78126658785') +7&nbsp;(812)&nbsp;665-87-85<br>
        a(href='tel:+79650513007').mobileNum +7&nbsp;(965)&nbsp;051-30-07&nbsp;
        img(src="../img/whatsup.png" alt="whatsup")
        img(src="../img/viber.png" alt="viber")
        img(src="../img/telegram.png" alt="telegram")
        br
        a(href="mailto:info@grand-electric.ru") info@grand-electric.ru
      p ООО “Авангард”, Санкт-Петербург,<br>Пискаревский пр., д. 63, оф. 168
    .item.logo
      h3 GrandElectric
      .footerLogo
        img(src="../img/footerLogo.png" alt="grandElectric")
    .item.payAndNav
      h3 Оплата
      ul.pay
        li На счёт организации
        li Наличными
        li Сбербанк Онлайн
      ul.menu
        li
          a(href="#servicesTabs") Услуги
        li
          a(href="#prices") Цены
        li
          a(href="#portfolio") Портфолио
