section.guarantiesWrap
  h2 Мы гарантируем
  .icon.icon__contract
  .icon.icon__timing
  .icon.icon__tidiness
  .icon.icon__accuracy
  span.contractLabel Соблюдение договора
  span.timingLabel Сжатые сроки
  span.tidinessLabel Аккуратное исполнние
  span.accuracyLabel#portfolioAnchor Точность расчётов