header.headerWrap#header
  .contentWide
    .headerTop
      a(href='index.html').logoFull
        figure
          img(src='../img/boltLogo.png', alt='grandElectric').animate
          figcaption
            h2 Grand
              span Electric
            span электромонтажные работы
      nav#mainMenu
      button#mobileMenuBtn
      .headerContacts
        p.city Санкт-Петербург
        p.phone
          a(href='tel:+78156587878') 658-78-78
