nav.mobileMenuSideBar
  .mobileMenuHeader
    a(href='#').logoFullMobileMenu
      figure
        img(src='../img/boltLogo.png', alt='logo')
        figcaption
          h2 Grand
            span Electric
          span электромонтажные работы
    #mobileMenuCloseBtn
  #mobileMenu
#mobileMenuContentMask