section.offersWrap
  .offerControl.offerControl__left#offerPrev
  .offerControl.offerControl__right#offerNext
  .carouselContainer.owl-carousel#offers
    .offer
      .content
        .img.img__1
        .inner
          h2 Беспроводной&nbsp;выключатель
          p Добавьте управление светом или другими приборами из любой точки не нарушая отделку.
          span Цена комплекта 3 220 &#8381;
          button.button.button__offers.button__white.requestTrigger Заказать
    .offer
      .content
        .img.img__2
        .inner
          h2 Мастер-выключатель
          p Выключайте свет уходя из дома одним выключателем
          span Цена комплекта 6 890 &#8381;
          button.button.button__offers.button__white.requestTrigger Заказать