.offerWrap
  .content
    .inner
      h2 Безопасная электропроводка<br>
        span.span1 от сертифицированных электриков<br>
        span.span2 Закажите монтаж под ключ до 7-го апреля и получите скидку 5%!
      .timerContainer
        script(src="//megatimer.ru/get/b5e52db2c16abbf639c01e43298f5ba8.js")
      .buttons
        a(href="#appartment").button__offer.button__transparent#servicesAnchor Узнать подробности
        button(data-message="Спец. предложение: скидка 5% на монтаж под ключ").button__offer.button__transparent.requestTrigger Получить скидку!