section.offersWrap
  .offerControl.offerControl__prev#offerPrev
  .offerControl.offerControl__next#offerNext
  .carouselContainer.owl-carousel#offers
    .offer
      .content
        .img.img__1
        .inner
          h2 Беспроводной&nbsp;выключатель
          p Добавьте управление светом или другими приборами из любой точки не нарушая отделку.
          span Цена с монтажом 4990 &#8381;
          button(data-message="Беспроводной выключатель").button.button__offers.button__white.requestTrigger Заказать
    .offer
      .content
        .img.img__2
        .inner
          h2 Мастер-выключатель
          p Выключайте весь свет уходя из дома одним нажатием
          span Цена с монтажом 3 990 &#8381;
          button(data-message="Мастер-выключатель").button.button__offers.button__white.requestTrigger Заказать