.offerWrap
  .content
    .inner
      h2 Безопасная электропроводка<br>
        span от сертифицированных электриков
      span Закажите монтаж под ключ сегодня и получите скидку 5%!
      .timerContainer
        script(src="//megatimer.ru/get/122a63b321037f90fac8a08f5e57ebe6.js")
      .buttons
        a(href="#appartment").button__offer.button__transparent Узнать подробности
        button(data-message="Спец. предложение: скидка 5% на монтаж под ключ").button__offer.button__transparent.requestTrigger Получить скидку!