section.schemaWrap
  h2 Схема работы
  .content
    .item.item_1
      h3 1.&nbsp;Замер
      p Специалист приезжает к&nbsp;вам для осмотра&nbsp;и консультации
    .item.item_2
      h3 2.&nbsp;Расчёт
      p Вы получаете расчёт стоимости электромонтажных работ
    .item.item_3
      h3 3.&nbsp;Договор
      p Фиксируем все договорённости на&nbsp;бумаге
    .item.item_4
      h3 4.&nbsp;Проект
      p Составляем подробный план&nbsp;работ на&nbsp;основе Ваших пожеланий
    .item.item_5
      h3 5.&nbsp;Материал
      p Составляем спецификацию материалов, организуем доставку на&nbsp;объект
    .item.item_6
      h3 6.&nbsp;Работы
      p Выполняем все необходимые работы
    .item.item_7
      h3 7.&nbsp;Тесты
      p Подключаем питание, проверяем все&nbsp;элементы системы
    .item.item_8
      h3 8.&nbsp;Сервис
      p Оказываем поддержку при гарантийных случаях до&nbsp;36&nbsp;месяцев