section.servicesBigWrap
  article.servicesBigArticle.servicesBigArticle__housesAppartments#housesAppartments
    h2 Выполняем под ключ
    .content
      .left
        .top
          h3 Проводка в квартире и доме
          h4 Включены работы:
          ol
            li Разработка исполнительных схем
            li Штробление, бурение подрозетников
            li Прокладка кабелей
            li Сборка щита
        .bottom
          .infographics
              figure
                img(src='../img/specialistIcon.png')
                figcaption
                  h5 Выполнено:
                  span.number 24
                  span.label объекта
              figure
                img(src='../img/moneyIcon.png')
                figcaption
                  h5 Цена от:
                  span.number 1500
                  span.label &#8381;/м.кв
          .buttons
            a(href='#prices').button.button__servicesBig.button__grey Цены
            button(data-category='проводка в квартире и доме').button.button__servicesBig.button__grey.jsPortfolioModalTrigger Портфолио
            button.button.button__servicesBig.button__bubblyButton.requestTrigger Заказть
      .right.img1
        .imgMask(data-category='проводка в квартире и доме').jsPortfolioModalTrigger
          span  Посмотреть другие работы

  article.servicesBigArticle.servicesBigArticle__woodenHouses#woodenHouses
    .content
      .left
        .top
          h3 Проводка в деревянном доме
          h4 Включены работы:
          ol
            li Разработка исполнительных схем
            li Штробление, бурение подрозетников
            li Прокладка кабелей
            li Сборка щита
        .bottom
          .infographics
              figure
                img(src='../img/specialistIcon.png')
                figcaption
                  h5 Выполнено:
                  span.number 24
                  span.label объекта
              figure
                img(src='../img/moneyIcon.png')
                figcaption
                  h5 Цена от:
                  span.number 1500
                  span.label &#8381;/м.кв
          .buttons
            a(href='#prices').button.button__servicesBig.button__white Цены
            button(data-category='проводка в квартире и доме').button.button__servicesBig.button__white.jsPortfolioModalTrigger Портфолио
            button.button.button__servicesBig.button__bubblyButton.animate.requestTrigger Заказть
      .right.img2
        .imgMask(data-category='проводка в квартире и доме').jsPortfolioModalTrigger
          span  Посмотреть другие работы
  article.servicesBigArticle.servicesBigArticle__commercial#commercial
    .content
      .left
        .top
          h3.noMargin Коммерческие объекты
          h5 офис, магазин, склад, производство
          h4 Включены работы:
          ol
            li Разработка исполнительных схем
            li Штробление, бурение подрозетников
            li Прокладка кабелей
            li Сборка щита
        .bottom
          .infographics
              figure
                img(src='../img/specialistIcon.png')
                figcaption
                  h5 Выполнено:
                  span.number 24
                  span.label объекта
              figure
                img(src='../img/moneyIcon.png')
                figcaption
                  h5 Цена от:
                  span.number 1500
                  span.label &#8381;/м.кв
          .buttons
            a(href='#prices').button.button__servicesBig.button__white Цены
            button(data-category='коммерческие объекты').button.button__servicesBig.button__white.jsPortfolioModalTrigger Портфолио
            button.button.button__servicesBig.button__bubblyButton.animate.requestTrigger Заказть
      .right.img3
        .imgMask(data-category='коммерческие объекты').jsPortfolioModalTrigger
          span  Посмотреть другие работы
  article.servicesBigOther
      h2 отдельные улслуги:
      .item.item__sockets
        .mask
          .heading
            h3 Розетки и выключатели
          .buttons
            a(href='#prices').button.button__servicesOther.button__transparent Цены
            button(data-category='розетки и выключатели').button.button__servicesOther.button__transparent.jsPortfolioModalTrigger Фото
            button.button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__shields
        .mask
          .heading
            h3 Щитовое оборудование
          .buttons
            a(href='#prices').button.button__servicesOther.button__transparent Цены
            button(data-category='сборка щитов').button.button__servicesOther.button__transparent.jsPortfolioModalTrigger Фото
            button.button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__lights
        .mask
          .heading
            h3 Освещение
          .buttons
            a(href='#prices').button.button__servicesOther.button__transparent Цены
            button(data-category='освещение').button.button__servicesOther.button__transparent.jsPortfolioModalTrigger Фото
            button.button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__wiring
        .mask
          .heading
            h3 Прокладка кабелей
          .buttons
            a(href='#prices').button.button__servicesOther.button__transparent Цены
            button(data-category='проводка в квартире и доме').button.button__servicesOther.button__transparent.jsPortfolioModalTrigger Фото
            button.button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__strocking
        .mask
          .heading
            h3 Штробление
          .buttons
            a(href='#prices').button.button__servicesOther.button__transparent Цены
            button(data-category='штробление').button.button__servicesOther.button__transparent.jsPortfolioModalTrigger Фото
            button.button.button__servicesOther.button__transparent Заказать
      .item.item__canals
        .mask
          .heading
            h3 Кабель-каналы
          .buttons
            a(href='#prices').button.button__servicesOther.button__transparent Цены
            button.button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__technic
        .mask
          .heading
            h3 Установка техники
          .buttons
            a(href='#prices').button.button__servicesOther.button__transparent Цены
            button.button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__warmFloors
        .mask
          .heading
            h3 Тёплые полы
          .buttons
            a(href='#prices').button.button__servicesOther.button__transparent Цены
            button.button.button__servicesOther.button__transparent.requestTrigger Заказать