section.servicesBigWrap
  h2 Предложения с фиксированной ценой
  article.servicesBigArticle.servicesBigArticle__servicesApart
    .content
      .col1
        .heading
          h3 Проводка в&nbsp;квартире до&nbsp;32&nbsp;м<sup>2</sup>, закажите по фиксированной цене
        .servicesCarouselContainer
          .servicesCarousel.owl-carousel
            img(src='../img/servicesApartCarousel1.jpg' alt='Проводка в квартире')
            img(src='../img/servicesApartCarousel2.jpg' alt='Электрика в новостройке')
            img(src='../img/servicesApartCarousel3.jpg' alt='Электромонтажные работы')
          .imgMask(data-category='проводка в квартире и доме').jsPortfolioModalTrigger
            span  Посмотреть другие работы
      .col2
        article
          h3 Работы:
          ul
            li Сборка и монтаж щита 12 модулей
            li Защита УЗО от поражения током
            li Штробление стен 20м
            li Прокладка кабелей 115м
            li Устройство подрозетников 19 шт
            li Розетки 220В 12 шт
            li Розетки ТВ и Интернет 2 шт
            li Выключатели 5 шт
            li Установка патронов 5 шт
        article
          h3 Материалы:
          ul
            li Автоматика ABB (Италия)
            li Негорючие кабели ВВГнг-LS ГОСТ (Россия)
            li ТВ кабель CAVEL (Италия)
            li Подрозетники и коробки Hegel (Россия)
            li Гофро-труба DKC (Россия)
            li Клеммы WAGO (Германия)
            li Патроны, лампочки (Россия)
      .col3
        .item
          span.label Срок выполнения:&#8194;
          span.value 3 дня
        .item
          span.label Стоимость работ:&#8194;
          span.value 23 900 &#8381;
        .item
          span.label Стоимость материалов:&#8194;
          span.value 12 900 &#8381;
        .item
          span.bigLabel Общая стомость:&#8194;
          span.bigValue 36 800 &#8381;
        button(data-message="Проводка в квартире до 32 м.кв по фиксированной цене").button.button__servicesBig.button__red.requestTrigger#house заказать

  article.servicesBigArticle.servicesBigArticle__servicesHouse
    .content
      .col1
        .heading
          h3 Проводка в&nbsp;доме до&nbsp;80&nbsp;м<sup>2</sup>, закажите по фиксированной цене
        .servicesCarouselContainer
          .servicesCarousel.owl-carousel
            img(src='../img/servicesHouseCarousel1.jpg' alt='Проводка в квартире')
            img(src='../img/servicesHouseCarousel2.jpg' alt='Электрика в новостройке')
            img(src='../img/servicesHouseCarousel3.jpg' alt='Электромонтажные работы')
          .imgMask(data-category='проводка в квартире и доме').jsPortfolioModalTrigger
            span  Посмотреть другие работы
      .col2
        article
          h3 Работы:
          ul
            li Сборка и монтаж щита 36 модулей
            li Сборка и монтаж слаботочного щита
            li Защита УЗО от поражения током
            li Штробление стен 75м
            li Прокладка кабеля в гофре и штробе 332м
            li Устройство подрозетников 42шт
            li Розетки 220В 28шт
            li Розетки ТВ и Интернет 6шт
            li Выключатели 12шт
            li Установка патронов 12шт
            li Выводы под котёл, бойлер, циркуляционные насосы, охрану
        article
          h3 Материалы:
          ul
            li Автоматика ABB (Италия)
            li Негорючие кабели ВВГнг-LS ГОСТ (Россия)
            li ТВ кабель CAVEL (Италия)
            li Подрозетники и коробки Hegel (Россия)
            li Гофро-труба DKC (Россия)
            li Клеммы WAGO (Германия)
            li Патроны, лампочки (Россия)
      .col3
        .item
          span.label Срок выполнения:&#8194;
          span.value 5 дней
        .item
          span.label Стоимость работ:&#8194;
          span.value 67 600 &#8381;
        .item
          span.label Стоимость материалов:&#8194;
          span.value 27 900 &#8381;
        .item
          span.bigLabel Общая стомость:&#8194;
          span.bigValue 95 500 &#8381;
        button(data-message="Проводка в доме до 80 м.кв по фиксированной цене").button.button__servicesBig.button__red.requestTrigger#office заказать

    article.servicesBigArticle.servicesBigArticle__servicesOffice
      .content
        .col1
          .heading
            h3 Проводка в&nbsp;офисе до&nbsp;40&nbsp;м<sup>2</sup>, закажите по фиксированной цене
          .servicesCarouselContainer
            .servicesCarousel.owl-carousel
              img(src='../img/servicesOfficeCarousel1.jpg' alt='Проводка в квартире')
              img(src='../img/servicesOfficeCarousel2.jpg' alt='Электрика в новостройке')
              img(src='../img/servicesOfficeCarousel3.jpg' alt='Электромонтажные работы')
            .imgMask(data-category='коммерческие объекты').jsPortfolioModalTrigger
              span  Посмотреть другие работы
        .col2
          article
            h3 Работы:
            ul
              li Установка автоматов
              li Защита УЗО от поражения током
              li Прокладка кабелей за подвесным потолком и в кабель-каналах 140 м
              li Установка розеток в кабель-канал 8 шт
              li Установка Интернет розеток в кабель-канал 2 шт
              li Установка выключателей 2 шт
              li Установка светильников в подвесной потолок 8 шт
          article
            h3 Материалы:
            ul
              li Автоматика ABB (Италия)
              li Негорючие кабели ВВГнг-LS ГОСТ (Россия)
              li Интернет-кабель UTP-5e (Италия)
              li Офисный кабель-канал Legrand (Франция)
              li Розетки выключатели в кабель-канал Legrand (Франция)
              li Коробки рапределительные Hegel (Россия)
              li#servicesOther Гофро-труба DKC (Россия)
              li Клеммы WAGO (Германия)
              li Светильники диодные JazzWay (Россия)
        .col3
          .item
            span.label Срок выполнения:&#8194;
            span.value 3 дня
          .item
            span.label Стоимость работ:&#8194;
            span.value 18 900 &#8381;
          .item
            span.label Стоимость материалов:&#8194;
            span.value 26 000 &#8381;
          .item
            span.bigLabel Общая стомость:&#8194;
            span.bigValue 44 900 &#8381;
          button(data-message="Проводка в офисе до 40 м.кв по фиксированной цене").button.button__servicesBig.button__red.requestTrigger заказать

  article.servicesBigOther
      h2 отдельные улслуги:
      .item.item__sockets
        .mask
          .heading
            h3 Розетки и выключатели
          .buttons
            button(data-price-category-num=4).button.button__servicesOther.button__transparent.servicesOtherLink Цены
            button(data-category='розетки и выключатели').button.button__servicesOther.button__transparent.jsPortfolioModalTrigger Фото
            button(data-message="Розетки и выключатели").button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__shields
        .mask
          .heading
            h3 Щитовое оборудование
          .buttons
            button(data-price-category-num=0).button.button__servicesOther.button__transparent.servicesOtherLink Цены
            button(data-category='сборка щитов').button.button__servicesOther.button__transparent.jsPortfolioModalTrigger Фото
            button(data-message="Щитовое оборудование").button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__lights
        .mask
          .heading
            h3 Освещение
          .buttons
            button(data-price-category-num=2).button.button__servicesOther.button__transparent.servicesOtherLink Цены
            button(data-category='освещение').button.button__servicesOther.button__transparent.jsPortfolioModalTrigger Фото
            button(data-message="Освещение").button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__wiring
        .mask
          .heading
            h3 Прокладка кабелей
          .buttons
            button(data-price-category-num=1).button.button__servicesOther.button__transparent.servicesOtherLink Цены
            button(data-category='проводка в квартире и доме').button.button__servicesOther.button__transparent.jsPortfolioModalTrigger Фото
            button(data-message="Прокладка кабелей").button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__strocking
        .mask
          .heading
            h3 Штробление и бурение
          .buttons
            button(data-price-category-num=3).button.button__servicesOther.button__transparent.servicesOtherLink Цены
            button(data-category='штробление').button.button__servicesOther.button__transparent.jsPortfolioModalTrigger Фото
            button(data-message="Штробление").button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__canals
        .mask
          .heading
            h3 Кабель-каналы
          .buttons
            button(data-price-category-num=1).button.button__servicesOther.button__transparent.servicesOtherLink Цены
            button(data-message="Кабель-каналы").button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__technic
        .mask
          .heading
            h3 Установка техники
          .buttons
            button(data-price-category-num=4).button.button__servicesOther.button__transparent.servicesOtherLink Цены
            button(data-message="Установка техники").button.button__servicesOther.button__transparent.requestTrigger Заказать
      .item.item__warmFloors
        .mask
          .heading
            h3 Тёплый пол
          .buttons
            button(data-price-category-num=4).button.button__servicesOther.button__transparent.servicesOtherLink Цены
            button(data-message="Тёплый пол").button.button__servicesOther.button__transparent.requestTrigger Заказать